@import "tailwindcss";


/* ===================== */
 /* LIGHT THEME */
 /* ===================== */
 :root {
 --color-primary: #4F46E5;
 --color-primary-hover: #4338CA;
 --color-secondary: #22C55E;
 --color-accent: #F59E0B;

 --color-bg: #F9FAFB;
 --color-surface: #FFFFFF;
 --color-border: #E5E7EB;

 --color-text-primary: #111827;
 --color-text-secondary: #6B7280;
 --color-text-muted: #9CA3AF;

 --color-success: #16A34A;
 --color-error: #DC2626;
 --color-warning: #D97706;
 --color-info: #2563EB;
 }

/* ===================== */
 /* DARK THEME */
 /* ===================== */
 [data-theme="dark"] {
 --color-primary: #6366F1;
 --color-primary-hover: #818CF8;
 --color-secondary: #22C55E;
 --color-accent: #FBBF24;

 --color-bg: #0F172A;
 --color-surface: #1E293B;
 --color-border: #334155;

 --color-text-primary: #F9FAFB;
 --color-text-secondary: #CBD5F5;
 --color-text-muted: #94A3B8;

 --color-success: #4ADE80;
 --color-error: #F87171;
 --color-warning: #FBBF24;
 --color-info: #60A5FA;
 }